<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Autenticació{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Registre</a>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <p>&copy; 2026 Desenvolupament Web</p>
    </footer>

    <!-- AQUI FALTABA ESTO -->
    {% block scripts %}{% endblock %}
</body>
</html>
